<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--should a password prompt be supplied?  if false then use windows Auth-->
      <add key="requestPassword" value="false"/>
      <add key="configHubURL" value="https://sp13/sites/QACTH"/>
      <add key="siteCollectionURLFile" value="sitecollections.txt"/>
      <add key="fieldListFile" value="fieldList.txt"/>
      <add key="contentTypeHideFile" value="contentTypeHide.txt"/>
      <add key="contentTypeRemoveFile" value="contentTypeRemove.txt"/>

      <add key="processFields" value="true"/>
      <add key="processCTHide" value="true"/>
      <add key="processCTRemove" value="true"/>
      <add key="processRefreshCTFlag" value="true"/>
    
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>